:root {
	--order: 1;
}

.test-custom-properties {
	-webkit-box-ordinal-group: var(--order);
	        order: var(--order);
}

.test-image-set-function {
	background-image: -webkit-image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	-webkit-box-ordinal-group: 3;
	        order: 2;
}

.test-logical-properties-and-values {
	margin: logical 1px 2px 3px 4px;
	-webkit-box-ordinal-group: 4;
	        order: 3;
	padding-block: 5px;
}

.test-nesting-rules {
	-webkit-box-ordinal-group: 5;
	        order: 4;
}

.test-nesting-rules p {
		-webkit-box-ordinal-group: 6;
		        order: 5;
	}

.test-nesting-rules {

	-webkit-box-ordinal-group: 7;

	        order: 6;
}

@custom-media --narrow-window (max-width: 30em);

@media (--narrow-window) {
	.test-custom-media-queries {
		-webkit-box-ordinal-group: 8;
		        order: 7;
	}
}

@media (480px <= width < 768px) {
	.test-media-query-ranges {
		-webkit-box-ordinal-group: 9;
		        order: 8;
	}
}

@custom-media --dark-mode (prefers-color-scheme: dark);

@media (--dark-mode) {
	body {
		background-color: black;
		color: white;
	}
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.test-custom-selectors:--heading {
	-webkit-box-ordinal-group: 10;
	        order: 9;
}

.test-case-insensitive-attributes[frame=hsides i] {
	-webkit-box-ordinal-group: 11;
	        order: 10;
}

.test-gray-function {
	color: gray(50);
	color: gray(50 / 50%);
}

.test-rebeccapurple-color {
	color: rebeccapurple;
	-webkit-box-ordinal-group: 12;
	        order: 11;
}

.test-hexadecimal-alpha-notation {
	background-color: #f3f3f3f3;
	color: #0003;
	-webkit-box-ordinal-group: 13;
	        order: 12;
}

.test-color-functional-notation {
	color: rgb(70% 13.5% 13.5% / 50%);
	-webkit-box-ordinal-group: 14;
	        order: 13;
}

.test-lab-function {
	background-color: lab(40 56.6 39);
	color: lch(40 68.8 34.5 / 50%);
	-webkit-box-ordinal-group: 15;
	        order: 14;
}

.test-system-ui-font-family {
	font-family: system-ui;
	-webkit-box-ordinal-group: 16;
	        order: 15;
}

.test-font-variant-property {
	font-variant-caps: small-caps;
	-webkit-box-ordinal-group: 17;
	        order: 16;
}

.test-all-property {
	all: initial;
	-webkit-box-ordinal-group: 18;
	        order: 17;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	-webkit-box-ordinal-group: 19;
	        order: 18;
}

.test-not-pseudo-class:not(:first-child, .special) {
	-webkit-box-ordinal-group: 20;
	        order: 19;
}

.test-any-link-pseudo-class:-webkit-any-link {
	-webkit-box-ordinal-group: 21;
	        order: 20;
}

.test-any-link-pseudo-class:-moz-any-link {
	order: 20;
}

.test-any-link-pseudo-class:any-link {
	-webkit-box-ordinal-group: 21;
	        order: 20;
}

.test-dir-pseudo-class:dir(rtl) {
	-webkit-box-ordinal-group: 22;
	        order: 21;
}

.test-overflow-wrap-property {
	-webkit-box-ordinal-group: 23;
	        order: 22;
	overflow-wrap: break-word;
}

.test-focus-visible-pseudo-class:focus-visible {
	-webkit-box-ordinal-group: 24;
	        order: 23;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}
