test-selectors-dir-pseudo:dir(ltr) {
	order: 1;
}

test-css-nesting {
	& {
		order: 2;
	}
}

test-css-color-valdef-color-rebeccapurple {
	color: rebeccapurple;
	order: 3;
}

test:focus-visible {
	order: 4;
}
