:root {
	--order: 1;
}

.test-custom-properties {
	order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

.test-image-set-function {
	order: 2;
}

.test-logical-properties-and-values {
	margin: logical 1px 2px 3px 4px;
	order: 3;
	padding-block: 5px;
}

.test-nesting-rules {
	order: 4;

	& p {
		order: 5;
	}

	order: 6;
}

@custom-media --narrow-window (max-width: 30em);

@media (--narrow-window) {
	.test-custom-media-queries {
		order: 7;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.test-media-query-ranges {
		order: 8;
	}
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6

.test-custom-selectors:--heading {
	order: 9;
}

.test-case-insensitive-attributes[frame=hsides i] {
	order: 10;
}

.test-rebeccapurple-color {
	color: rebeccapurple;
	order: 11;
}

.test-hexadecimal-alpha-notation {
	background-color: #f3f3f3f3;
	color: #0003;
	order: 12;
}

.test-color-mod-function {
	color: rgba(0, 0, 0, 0.5);
	order: 13;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	order: 14;
}

.test-font-variant-property {
	font-variant-caps: small-caps;
	order: 15;
}

.test-all-property {
	all: initial;
	order: 16;
}

.test-matches-pseudo-class:first-child, .test-matches-pseudo-class.special {
	order: 17;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	order: 18;
}

.test-any-link-pseudo-class:any-link {
	order: 19;
}

.test-dir-pseudo-class:dir(rtl) {
	order: 20;
}

.test-overflow-wrap-property {
	order: 21;
	overflow-wrap: break-word;
}

.test-focus-visible-pseudo-class:focus-visible {
	order: 22;
}
