# https://docs.travis-ci.com/user/travis-lint

language: node_js

os:
  - windows
  - linux
  - osx

node_js:
  - 10

install:
  - git config --global core.autocrlf false
  - git checkout -qf ${TRAVIS_COMMIT}
  - npm install --ignore-scripts
